
{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

  <p></p>
  <div class="container">
  <h1 class="text-center"><strong>{{ g.user.profile.firstName }}'s Dashboard</strong></h1>

  <div class="row">&nbsp;</div>
  <div class="col-sm-12 offset-sm-1">
      <h3><strong>Light Strips:</strong><input type="image" onclick="add_strip()" width ="20" height="20" src="/static/plus.svg"/></image></h3>
  </div>
  <div class="col-sm-12 offset-sm-1">
  <ul>
    {% for name, light_strip in user_object.light_strips.items() %}

    <li><strong>{{name}} - </strong>Sections: <input type="image" onclick="add_section('{{light_strip.strip_id}}')" width ="15" height="15" src="/static/plus.svg"/></image>
    <ol>
      {% for section_dict in light_strip.return_sections_and_patterns_dict() %}
        {% if "Solid" in section_dict['range_pattern'].get_description_string_small() %}
            {% set r = section_dict['range_pattern'].get_current_status_dict()['color']['r'] %}
            {% set g = section_dict['range_pattern'].get_current_status_dict()['color']['g'] %}
            {% set b = section_dict['range_pattern'].get_current_status_dict()['color']['b'] %}
            {% set id =section_dict['range_pattern'].pattern_id%}
        <li>Pixels: {{section_dict['range_start']+1}} - {{section_dict['range_end']+1}} - Status: <select id="{{section_dict['range_section'].section_id}}" onchange="onPatternTypeChange(this.id, this.value)">
                                                                                                                                                                              <option value="Solid Color" selected>Solid Color</option>
                                                                                                                                                                              <option value="Dynamic Pattern">Dynamic Pattern</option>
                                                                                                                                                                              <option value="Sun-based Pattern">Sun-based Pattern</option>
                                                                                                                                                                              <option value="Time-based Pattern">Time-based Pattern</option>
                                                                                                                                                                            </select>
                                                                                                                                                                            <select id="dynamic_selector_{{section_dict['range_section'].section_id}}" style="visibility:hidden" onchange="dynChange(this.id,{{light_strip.strip_id}},this.value)">
                                                                                                                                                                              <option value="cc">Color-cycle</option>
                                                                                                                                                                              <option value="rb">Rainbow</option>
                                                                                                                                                                              <option value="ws">Strobe (white)</option>
                                                                                                                                                                              <option value="cs">Strobe (colors)</option>
                                                                                                                                                                              <option value="pp">Ping-pong</option>
                                                                                                                                                                              <option value="sp">Ping-pong (with acceleration)</option>
                                                                                                                                                                            </select>

            <span id="color_picker_box_{{ section_dict['range_section'].section_id }}" style="visibility:visible"/> <input onclick="set_next( '{{id}}','{{light_strip.strip_id}}')" id="myColorPickerPopover" width = "20%" display="inline" type="text" style="background-color: rgb({{r}}, {{g}}, {{b}})" value="Change color"/> </li>
        {% else %}
            <li>Pixels: {{section_dict['range_start']+1}} - {{section_dict['range_end']+1}} - Status: <select id="{{section_dict['range_section'].section_id}}" onchange="onPatternTypeChange(this.id, this.value)">
                                                                                                                                                                              <option value="Solid Color" >Solid Color</option>
                                                                                                                                                                              <option value="Dynamic Pattern" selected>Dynamic Pattern</option>
                                                                                                                                                                              <option value="Sun-based Pattern">Sun-based Pattern</option>
                                                                                                                                                                              <option value="Time-based Pattern">Time-based Pattern</option>
                                                                                                                                                                            </select>
                                                                                                                                                                            <select id="dynamic_selector_{{section_dict['range_section'].section_id}}" style="visibility:visible" onchange="dynChange(this.id,{{light_strip.strip_id}},this.value)">
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "cc" %}
                                                                                                                                                                                    <option value="cc" selected>Color-cycle</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="cc">Color-cycle</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "rb" %}
                                                                                                                                                                                    <option value="rb" selected>Rainbow</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="rb">Rainbow</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "ws" %}
                                                                                                                                                                                    <option value="ws" selected>Strobe (white)</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="ws">Strobe (white)</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "cs" %}
                                                                                                                                                                                    <option value="cs" selected>Strobe (color)</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="cs">Strobe (color)</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "pp" %}
                                                                                                                                                                                    <option value="pp" selected>Ping-pong</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="pp">Ping-pong</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                                {% if "{{section_dict['range_pattern'].pattern_code}}" == "sp" %}
                                                                                                                                                                                    <option value="sp" selected>Ping-pong (with acceleration)</option>
                                                                                                                                                                                {% else %}
                                                                                                                                                                                     <option value="sp">Ping-pong (with acceleration)</option>
                                                                                                                                                                                {% endif %}
                                                                                                                                                                            </select>
            <span id="color_picker_box_{{ section_dict['range_section'].section_id }}" style="visibility:visible"/> <input onclick="set_next( '{{id}}','{{light_strip.strip_id}}')" id="myColorPickerPopover" width = "20%" display="inline" type="text" style="background-color: rgb({{r}}, {{g}}, {{b}})" value="Change color"/> </li>

        {% endif %}


      {% endfor %}

    </ol>
    </li>

    {% endfor %}
  </ul>


  </div>
  </div>

<script>
function add_strip() {
    var strip_id;
    var pixel_count;
    var display_name;
    var id_in = prompt("Please enter a Strip ID", "");
    if (id_in == null || id_in == "") {

        alert("Error: invalid Strip ID");
        return false;
    } else {
    	strip_id = id_in;
    	var pix_in = prompt("How many pixels does this strip have?", "100");
        if (pix_in == null || pix_in == "") {

          alert("Error: invalid pixel count");
          return false;
        } else {
            pixel_count = pix_in;
            var name_in = prompt("What do you want to name this strip?", "");
            if (name_in == null || name_in == "") {

              alert("Error: invalid name");
              return false;
            } else {
                display_name = name_in;
                window.location.replace(`/add_strip/${strip_id}/${pixel_count}/${display_name}`);
            }
        }
   }
}
</script>
<script>
  var next_set_pattern_id;
  var next_set_strip_id;
  function set_next(patt, strip){
    next_set_pattern_id = patt;
    next_set_strip_id = strip;
    //alert(next_set_pattern_id);
  }

  function get_next_pattern(){
    return next_set_pattern_id;
  }
  function get_next_strip(){
    return next_set_strip_id;
  }


</script>
<script>
function add_section(strip_id) {
    var start_pixel;
    var end_pixel;
    var st_in = prompt("You are about to create a new section. It will overwrite any sections it overlaps with.\nWhich pixel should this section start at (inclusive)?", "");
    if (st_in == null || st_in == "") {

        alert("Error: invalid pixel number");
        return false;
    } else {
    	start_pixel = st_in - 1;
    	var en_in = prompt("Which pixel should this section end at (inclusive)?", "");
        if (en_in == null || en_in == "") {

     	   alert("Error: invalid pixel number");
          return false;
        } else {
            end_pixel = en_in - 1;
            window.location.replace(`/add_section/${strip_id}/${start_pixel}/${end_pixel}`);

        }


    }


}
</script>
<script>

YUI().use(
  'aui-color-picker-popover',
  function(Y) {
    var colorPicker = new Y.ColorPickerPopover(
      {
        trigger: '#myColorPickerPopover',
        zIndex: 2
      }
    ).render();

    colorPicker.on('select',
      function(event) {
        event.trigger.setStyle('backgroundColor', event.color);
        //alert(`/set_pattern_solid_color/${get_next_pattern()}/${event.color}`);
        window.location.replace(`/set_pattern_solid_color/${get_next_strip()}/${get_next_pattern()}/${hexToRgb(event.color.slice(1,event.color.length))}`);


      }
    );
  }
);
</script>



<script>
function hexToRgb(hex) {
    var bigint = parseInt(hex, 16);
    var r = (bigint >> 16) & 255;
    var g = (bigint >> 8) & 255;
    var b = bigint & 255;

    return r + "," + g + "," + b;
}

</script>

<script>
function onPatternTypeChange(id, val) {
	alert("dynamic_selector_"+id);
	if (val=="Dynamic Pattern"){
    	document.getElementById ( "dynamic_selector_"+id ).style.visibility = 'visible';

    }
    else{
    	document.getElementById ( "dynamic_selector_"+id ).style.visibility = 'hidden';
   	}

    if (val=="Solid Color"){
    	document.getElementById ( "color_picker_box_sectionid" ).style.visibility = 'visible';

    }
    else{
    	document.getElementById ( "color_picker_box_sectionid" ).style.visibility = 'hidden';
   	}



}
</script>





<script>

function dynChange(id, strip_id, val) {
	alert(strip_id);
	section_id = id.replace("dynamic_selector_","");
    window.location.replace(`/set_section_dynamic_pattern/${strip_id}/${section_id}/${val}`);


}
</script>

{% endblock %}

