{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <h1 class="text-center">Dashboard</h1>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>Welcome to your dashboard, {{ g.user.profile.firstName }}!</p>
      <p>Your user information has been pulled from the <code>g.user</code>
      object, which makes accessing your user information simple. Your first
      name, for example, is available via the <code>g.user.profile.firstName</code>
      property. Your user id (<code>{{ g.user.id }}</code>), is pulled from the <code>g.user.id</code> property!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>User object info: {{ user_object}}!</p>
    </div>
  </div>
    <div class="col-sm-8 offset-sm-2">
      <p>Light Strips:</p>
    </div>
  {% if user_object.light_strips|length < 1 %}
    <div class="col-sm-8 offset-sm-2">
      <p>No light strips found. Register your light strips </p>             <!--insert link to strip registration page-->
    </div>
  {% endif %}
  {% for name, light_strip in user_object.light_strips.items() %}
    <div class="col-sm-8 offset-sm-2">
      <p>{{name}}: {{light_strip}}</p>
    </div>
  {% endfor %}
{% endblock %}